<div class="app-wrapper">
  <div class="header">
    <div class="container-fluid">
      <a href="#">Data Graph</a>
    </div>
  </div>
  <div class="sales-details row">
    <div class="card col-md-2 card-padding">
      <div class="card-body">
        <h4 class="card-title">Gross Sale</h4>
        <p class="card-text">$15.5 M</p>

      </div>
    </div>
    <div class="card col-md-2 card-padding">
      <div class="card-body">
        <h4 class="card-title">Net Sales</h4>
        <p class="card-text">$ 2 90 M</p>

      </div>
    </div>
    <div class="card col-md-2 card-padding">
      <div class="card-body">
        <h4 class="card-title">Liability</h4>
        <p class="card-text">$ 1 61 M</p>
      </div>
    </div>
  </div>

  <div class="graph-details row">
    <div class="card col-md-6 graph-padding">
      <div class="card-body">
        <h4 class="card-title">Gross Sale</h4>
        <p class="card-text">$15.5 M</p>
      </div>
    </div>
    <div class="card col-md-4 graph-padding">
      <div class="card-body">
        <h4 class="card-title">Net Sales</h4>
        <p class="card-text">$ 2 90 M</p>

      </div>
    </div>
  </div>

  <div class="graph-details row">
    <div class="card col-md-12">
      <div class="card-body">
        <div id="my_dataviz"></div>
      </div>
    </div>
    <div class="card col-md-12 ">
      <div class="card-body">
          <select id="charts-view" [(ngModel)]="chartsView" (change)="changeChartView($event)">
              <option value="single">Single Line Chart</option>
              <option value="multiple">Multiple Line Chart</option>
            </select>
            <div id="my_line_dataviz"></div>

      </div>
    </div>
    <div class="card col-md-2 graph-padding">
      <div class="card-body">
        <h4 class="card-title">Net Sales</h4>
        <p class="card-text">$ 2 90 M</p>

      </div>
    </div>
    <div class="card col-md-2 graph-padding">
      <div class="card-body">
        <h4 class="card-title">Net Sales</h4>
        <p class="card-text">$ 2 90 M</p>

      </div>
    </div>
  </div>
</div>